<div class="row border-bottom white-bg">
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <i class="fa fa-reorder"></i>
            </button>
            <a href="#" class="navbar-brand"><i class="fa fa-puzzle-piece"></i> PuzzleAdv</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li>
                    <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Gestione flusso <span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="@Url.Action("ToApproveList", "Admin")"><i class="fa fa-gavel"></i> Da approvare</a></li>
                        <li><a href="@Url.Action("ToReviewList", "Admin")"><i class="fa fa-exclamation-triangle"></i> Modifiche necessarie</a></li>
                        <li><a href="@Url.Action("InProductionList", "Admin")"><i class="fa fa-globe"></i> Pubblicati</a></li>
                        <li><a href="@Url.Action("DeletedList", "Admin")"><i class="fa fa-trash-o"></i> Cancellati</a></li>
                    </ul>
                </li>
                <li>
                    <a aria-expanded="false" role="button" href="@Url.Action("PuzzleList", "Admin")"> <i class="fa fa-picture-o"></i> Elenco puzzle</a>
                </li>
                <li>
                    <a aria-expanded="false" role="button" href="@Url.Action("PrizeList", "Admin")"> <i class="fa fa-shopping-bag"></i> Elenco premi</a>
                </li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
</div>